
:root {
  --main-color: #2196f3;
  --first-color: #ffffff;
  --second-color: #212121;
  --third-color: #757575;
  --background-color: #f5f4fa;
}
body{
color: #000000;
background: #ffffff;
font-family:  'Roboto', sans-serif;
font-size: 14px;
letter-spacing: 0,03em;
}
h1,h2,h3,p{
  margin: 0;
}
html{
  box-sizing: border-box;
}
*,*::after,*::before{
  box-sizing: inherit;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
address{
  font-style: normal;
}
a{
  text-decoration: none;
  color: currentColor;
}
ul{
  list-style-type: none;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.cards{
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.images{
  display: flex;
  padding: 32px;
  gap: 10px;
}
.images-secundary{
  background-color: #F5F4FA;
  height: 648px;
  display: flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.buttons{
  display: flex;
  gap: 10px;
}
.cards{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.cards-second{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.cards-third{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.principal-section {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100px;
  text-align: center;
  background-color: #2F303A;
}
.filter{
  color:  #212121;
  font-style: normal;
  line-height: 16px;
  text-decoration: none;
}
.filter:hover{
  color: var(--main-color);
}
.link{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #757575
  
}
.link:hover{
  color: var(--main-color);
}
.button-title{
  color: #ffffff; 
  background-color: #2196f3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: 0em;
  cursor: pointer;
}
.second-title{
  color: #212121;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin: 16px;
  line-height: 16px

}
.third-title{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.list{
  list-style-type: none;
}
.subtitle{
  color: var(--main-color);
  font-size: 26px;
  font-weight: 700px;
  line-height: 1.20;
  text-decoration: none;
}
/*todo el contenido*/
.filter-button{
  color: #212121;
  background-color: #f5f4fa;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  border: 0em;
  cursor: pointer;
}
.filter-button:hover {
  color: white;
  background-color: var(--main-color);
}
.principal-button{
  color: #ffffff; 
  background-color: #2196f3;
}
.paragraph{
  color: #757575;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}
.footer{
  background-color: #212121;
  width: 1600px;
  height: 252px;
}
.address{
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  list-style-type: none;
}
.nav-item{
  font-weight: 500;
  color: #212121;
  line-height: 1.1;
  display: flex;
}
.nav-item:hover{
  color: #2196f3;
}
.current{
  color: #2196f3;
}